.navbar, .footer-below {
    background-image: linear-gradient($grey-100, $grey-200 60%, $grey-300);
    background-repeat: no-repeat;
	display: block;
}

.navbar:first-of-type {
	margin-bottom: 0px !important;
	height:80px;
}

.navbar-brand {
	background: rgba(0, 0, 0, 0) url("http://bchanevoet.nl/img/shuttle.gif") no-repeat scroll 0 0;
//	margin-right: 10px;
//	float: left;
//	height: 60px;
//	width: 50px;

	> div {
	//	font-family: 'trebuchet ms', 'Arial';
		white-space: nowrap !important;
		margin-left: 60px !important;
		margin-top: 5px;
		
		> h1 {
			font-size: 24px !important;
			line-height: 24px !important;
			text-decoration: none !important;
			cursor: pointer !important;

			&:hover,
			&:focus {
			  color: $link-color !important;
			  background-color: transparent !important;
			}

//			> small {
//				font-size: 12px !important;
//			}
		}
		> h2 {
			font-size: 12px !important;
			line-height: 8px !important;
		}
	}
}

footer {
//	background-color: $grey-300;
	min-height: 30px;
	width: 100%;
	h3, p, p div {
		text-align: center;
	}
}

.footer-below {
/*	position: absolute;
	bottom: 0px;
*/	p {
		line-height: 30px;
		margin-bottom: 0px !important;
		margin-top: 0px !important;
		width: 100%;
		text-align: center;
	}
}
