// Scrollspy
body {
  position: relative;
}
.scroll-adjust{
	padding-top:60px;
	margin-top:-60px;
}

// Navigation and footer
.navbar, .footer-below {
    background-image: linear-gradient($grey-100, $grey-200 60%, $grey-300);
}

.navbar:first-of-type {
	margin-bottom: 0px;
}

.navbar-brand {
	background: rgba(0, 0, 0, 0) url("/img/shuttle.gif") no-repeat scroll 0 0;
	min-height: 60px;
	white-space: nowrap;
	padding-left: 60px;
	margin-top: 5px;
	
	> h1 {
		font-size: 24px;
		line-height: 24px;

		&:hover,
		&:focus {
		  color: $link-color;
		}
	}

	> h2 {
		font-size: 12px;
		line-height: 8px;
	}
}

.footer-above {
	background-color: $grey-300;
}

.footer-below {
	div {
		line-height: 30px;
	}
}

// Carousel
.carousel-item {
	height: 200px;
	img {
		min-width: 100%;
		min-height: 200px;
	}
}
.carousel-control.left {
	background-image: url("/img/left-jumbotron.png");
	background-size: 220px 200px;
	opacity: 1;
	width: 220px;
}

img {
	max-height: 200px;
}

.card footer {
	font-size: 75%;
}