@import './node_modules/bootstrap-material-design/scss/variables/colors';

$font-family-base: 'Roboto', 'Arial';
$headings-font-family: 'Trebuchet MS', 'Arial';
$headings-font-weight: normal;

/*
$body-bg: $white;
$brand-primary: $indigo-500;

$navbar-default-bg: $grey-300;
$navbar-default-link-hover-bg: $grey-400;

$border-radius-base: 2px;
$border-radius-small: 1px;
*/